{% extends 'base.html.twig' %}

{% block title %}Nowa testowa strona {% endblock %}

{% block body %}
<div class="box-content">
    <h1> {{ text }}</h1>

    <h3>
        {{ textArray.surname|capitalize }}
    </h3>


</div>
{% endblock %}
