{% extends 'base.html.twig' %}

{% block title %}Lista artykułów{% endblock %}

{% block body %}
    <div class="box-content">
        <h1>Lista artykułów</h1>
    </div>

    <div class="box-content-2">
        <ul class="blog-list">
            <li>
                <div class="blog-list-element">
                    <h2>Tytuł artykułu 1</h2>
                    <p>Fun fact! Witches & wizards love writing markdown. I have no idea why... but darnit! We're going to give the people what they want!</p>
                    <a href="/blog/show/1"><span>Zobacz więcej &raquo;</span></a>
                </div>
            </li>
            <li>
                <div class="blog-list-element">
                    <h2>Tytuł artykułu 2</h2>
                    <p>Fun fact! Witches & wizards love writing markdown. I have no idea why... but darnit! We're going to give the people what they want!</p>
                    <a href="/blog/show/2"><span>Zobacz więcej &raquo;</span></a>
                </div>
            </li>
            <li>
                <div class="blog-list-element">
                    <h2>Tytuł artykułu 3</h2>
                    <p>Fun fact! Witches & wizards love writing markdown. I have no idea why... but darnit! We're going to give the people what they want!</p>
                    <a href="/blog/show/3"><span>Zobacz więcej &raquo;</span></a>
                </div>
            </li>
            <li>
                <div class="blog-list-element">
                    <h2>Tytuł artykułu 4</h2>
                    <p>Fun fact! Witches & wizards love writing markdown. I have no idea why... but darnit! We're going to give the people what they want!</p>
                    <a href="/blog/show/3"><span>Zobacz więcej &raquo;</span></a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts_end %}
{% endblock %}
