{% extends 'base.html.twig' %}

{% block title %}Hello DocController!{% endblock %}

{% block body %}

    <div class="box-content">
        <h1>Lista najpopularniejszych {{ countComment }} komentarzy do dokumentów</h1>
    </div>

    <div class="box-content-2">
        <ul class="comment-list-top-10">
            {% for comment in commentList %}

                {{  include('doc/view/_comment.html.twig',{'commentTop' : true}) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
