{% extends 'base.html.twig' %}

{% block title %}Hello DocController!{% endblock %}

{% block body %}

    <div class="box-content d-flex justify-content-between">
        <h1>Najpopularniejsze komentarzy do dokumentów</h1>
        <form action="{{ path('popularCommentList') }}" >
            <input type="search" name="q" class="form-control" value="{{ app.request.query.get('q') }}" placeholder="Search..." aria-label="Search">
        </form>

    </div>

    <div class="box-content-2">
        <ul class="comment-list-top-10">
            {% for comment in commentList %}

                {{  include('doc/view/_comment.html.twig',{'commentTop' : true}) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
